<ion-header>
  <ion-toolbar color="success">
    <ion-title>停车详情</ion-title>
    <ion-icon name="arrow-back" size="large" slot="start" (click)="back()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item><ion-label>2019.6.25 10:30:28</ion-label><ion-label>上M8989车主停入B区</ion-label></ion-item>
  <ion-item><ion-label>2019.6.25 10:30:28</ion-label><ion-label>上M8989车主停入B区</ion-label></ion-item>
  <ion-item><ion-label>2019.6.25 10:30:28</ion-label><ion-label>上M8989车主停入B区</ion-label></ion-item>
  <ion-item><ion-label>2019.6.25 10:30:28</ion-label><ion-label>上M8989车主停入B区</ion-label></ion-item>
  <ion-item><ion-label>2019.6.25 10:30:28</ion-label><ion-label>上M8989车主停入B区</ion-label></ion-item>
  <ion-item><ion-label>2019.6.25 10:30:28</ion-label><ion-label>上M8989车主停入B区</ion-label></ion-item>
  <ion-item><ion-label>2019.6.25 10:30:28</ion-label><ion-label>上M8989车主停入B区</ion-label></ion-item>
  <ion-item><ion-label>2019.6.25 10:30:28</ion-label><ion-label>上M8989车主停入B区</ion-label></ion-item>
  <ion-item><ion-label>2019.6.25 10:30:28</ion-label><ion-label>上M8989车主停入B区</ion-label></ion-item>
</ion-list>
</ion-content>
