<ion-header>
  <ion-toolbar color="success">
    <ion-title>出租车</ion-title>
    <ion-icon name="arrow-back" slot="start" size="large" (click)="back()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngIf="flag">
  <ion-card-content>
    <ion-list>
      <ion-item><ion-label>您预约的上车口是</ion-label><ion-label>{{scar}}</ion-label></ion-item>
      <ion-item><ion-label>您的号码是{{scall}}</ion-label></ion-item>
      <ion-item><ion-label>当前叫到的号码是8号</ion-label></ion-item>
      <ion-item><ion-label>您前面还有{{scall-8}}位乘客</ion-label></ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

  <ion-card *ngIf="!flag">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item><ion-label>你还未预约出租车</ion-label></ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
